*{
    padding:0;
    margin: 0;
}
.ToDo{
    h1{
        text-align: center;
    }
    .Add{ 
        padding: 0 10px;
        #header-add{
            background-color: #f8f8f8;
            border-bottom: 1px solid gray;
        }
        margin: 0 10vw;
        border: 1px solid gray;
    }
}
